<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to session page</h1>

{% if context == "host" %}
    <h2>You're hosting the session with alias: {{ display_name }}</h2>
    <p>Session url: http://localhost:8080/join/{{ session_url }}</p>
    <button id="kill-session-btn">Kill session</button>
{% elif context == "peer" %}
    <h2>You've joined session hosted by: {{ display_name }}</h2>
    <button id="logout-btn">Logout</button>    
{% endif %}    
    <div class="search-container">
        <input id="search-input" type="text" placeholder="Search.." name="search">
        <button id="search-btn">Search<i class="fa fa-search"></i></button>
    </div>
    <div id="search-results"></div>
    <div id="track-queue"></div>

    <script src="/static/session.js"></script>
</body>
</html>