<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="context" hidden>{{context}}</p>

{% if context == "host" %}
    <p id="session_id" hidden>{{ session_id }}</p>
{% endif %}    

    <div id="search-nav">
        <div id="search-ctl">
            <input id="search-input" type="text" placeholder="Search.." name="search">
            <button id="search-btn"><i class="fa fa-search"></i></button>
            <button id="close-search-nav-btn"><i class="fa fa-times"></i></button>
        </div>
        <div id="search-results">
        </div>
    </div>

    <div id="settings-nav">
        <div id="close-settings-nav-btn-container">
            <button id="close-settings-nav-btn"><i class="fa fa-times"></i></button>
        </div>        
        <div id="settings-nav-content">
        </div>        
    </div>

    <div id="devices-nav">
        <div id="close-devices-nav-btn-container">
            <button id="close-devices-nav-btn"><i class="fa fa-times"></i></button>
        </div>
        <div id="device-list">
        </div>
    </div>

    <div id="toggle-btn-container">
        <button id="search-toggle"><i class="fa fa-search"></i></button>
        <button id="settings-toggle"><i class="fa fa-cog" aria-hidden="true"></i></button>
    </div>
    
    <div id="track-queue">
    </div>

    <script src="/static/session.js"></script>
</body>
</html>